@use '../variables/theme.module.scss' as *;

@mixin xs {
	@media (max-width: #{$sm-width - 1px}) {
		@content;
	}
}

@mixin sm {
	@media (min-width: #{$sm-width}) {
		@content;
	}
}

@mixin md {
	@media (min-width: #{$md-width}) {
		@content;
	}
}

@mixin lg {
	@media (min-width: #{$lg-width}) {
		@content;
	}
}

@mixin xl {
	@media (min-width: #{$xl-width}) {
		@content;
	}
}

@mixin md-height {
	@media (min-height: #{$md-height}) {
		@content;
	}
}

@mixin landscape {
	@media (orientation: landscape) {
		@content;
	}
}

@mixin portrait {
	@media (orientation: portrait) {
		@content;
	}
}
