@use '../variables/theme.module.scss' as *;

.form--login-user {
	.action-button--register {
		font-weight: normal;
		border-radius: 0;
		border-bottom: 1px solid $grey-100;

		&:hover {
			filter: brightness(1.5);
		}
	}
}
