@use '../variables/theme.module.scss' as *;
@use '../mixins/common.module.scss' as *;
@use '../mixins/breakpoints.module.scss' as *;

.comic-details {
	margin-top: -100px;

	.comic-details-header {
		@include flexColumn;

		@include md {
			@include flexRow;
			justify-content: space-between;

			& > *:not(:last-child) {
				margin-right: 1rem;
			}
		}
	}

	&--left {
		@include flexColumn;
		max-width: 680px;

		.comic-genre-list {
			@include flexRow;
			flex-wrap: wrap;
			margin: 3rem 0 1rem 0;

			.genre-item {
				@include flexRow;
				align-items: center;
				white-space: nowrap;

				&:not(:last-child) {
					margin-right: 1.2rem;
				}
			}

			.genre-icon {
				width: 24px;
				height: 24px;
				margin-right: 0.5rem;
				border-radius: 0.25rem;
			}
		}

		.comic-flavor-text {
			font-style: italic;
			border-left: 4px solid $important-color;
			padding-left: 0.5rem;
			margin-bottom: 0.5rem;
			color: lightgray;
		}

		// .comic-description {
		// line-clamp: 1;
		// }

		.comic-creator-wrapper {
			@include flexRow;
			align-items: center;
			margin-top: 2rem;

			.text--author {
				color: lightgray;
				font-style: italic;
				margin-bottom: -0.2rem;
				font-size: 12px;
			}

			& svg {
				width: 14px;
				height: 14px;
				margin-left: 0.5rem;
			}
		}
	}

	&--right {
		margin-top: 1rem;
		@include flexColumn;

		.comic-links-wrapper {
			justify-content: flex-start;
			@include md {
				justify-content: flex-end;
			}
		}

		.comic-links {
			margin-right: 1rem;

			& > a {
				border: 1px solid $lightgray;

				&:not(:last-child) {
					margin-right: 0.75rem;
				}
			}

			& svg {
				height: 18px;
				width: 18px;
				color: $secondary-color;
				fill: $secondary-color;
				@include unclickable;
			}
		}

		.comic-stats {
			margin: 3rem 0 1rem 0;

			& > *:not(:last-child) {
				margin-left: 1rem;
			}
			flex-direction: row-reverse;
			justify-content: flex-end;

			@include md {
				flex-direction: row;
				justify-content: flex-start;

				& > *:not(:last-child) {
					margin-right: 1rem;
				}
			}
		}
	}

	.section-title {
		border-bottom: 1px solid $lightgray;
		padding: 2rem 0;
		margin: 4rem 0 2rem 0;
	}
}

.comic-details-banner-image {
	margin-top: 72px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	z-index: -1;
	width: 100%;
	height: 65vh;
	max-height: 620px;

	.bottom-overlay {
		left: 0;
		position: absolute;
		right: 0;
		z-index: -1;
		background-position: 0 top;
		background-repeat: repeat-x;
		background-size: 100% 100%;
		bottom: 0;
		height: 100%;
		opacity: 1;
		top: auto;
		width: 100%;

		&--standard {
			background: linear-gradient(
				rgba(21, 23, 28, 0.2) 0%,
				rgba(21, 23, 28, 0.2) 16%,
				rgba(21, 23, 28, 0.75) 72%,
				rgb(21, 23, 28) 100%
			);
		}

		&--no-banner {
			background: linear-gradient(
				rgba(21, 23, 28, 0) 0%,
				rgba(21, 23, 28, 0.05) 70%,
				rgba(21, 23, 28, 0.75) 90%,
				rgb(21, 23, 28) 100%
			);
		}
	}

	.comic-logo {
		width: 100%;
		height: auto;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -75%);
		@include unclickable;

		object-fit: contain;
		max-height: 180px;
		max-width: 75%;
		@include sm {
			max-width: 60%;
		}

		@include md {
			max-width: 50%;
		}

		@include lg {
			max-width: 33%;
		}
	}
}
