@use '../mixins/animations.module.scss' as *;
@use '../mixins/breakpoints.module.scss' as *;

.home {
	.home-container {
		padding-top: 0;

		@include defaultFadeIn;
		min-height: 100vh;
		overflow: hidden;
	}
}
