@use '../variables/theme.module.scss' as *;
@use '../mixins/breakpoints.module.scss' as *;

.mint-group {
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	padding: 10px 25px;
	background-color: $grey-500;
	margin-bottom: 10px;

	.mint-button {
		background-color: $important-color;
	}

	.guest-user-note {
		color: $yellow-500;
		font-size: medium;
		font-weight: 500;
		align-self: center;
	}

	.register-link {
		text-decoration: underline;
		font-weight: bold;
		cursor: pointer;
	}

	.balance-details {
		display: flex;
		font-size: medium;
		font-weight: bold;
		justify-content: space-between;
		margin: 5px 0 10px 0;
	}

	.comic-vault-title {
		display: flex;
		align-items: center;
		font-size: 14px;
		font-weight: 500;
		line-height: 21.6px;
		color: $grey-100;

		.lock-icon {
			width: 18px;
			height: auto;
			margin-right: 0.2rem;
		}
		@include sm {
			font-size: 18px;
		}
	}

	.comic-vault-details {
		color: $grey-100;
		font-size: 14px;
		margin: 0;
		line-height: 21.6px;

		@include sm {
			font-size: 18px;
		}
	}

	.group-detail-wrapper {
		.group-detail {
			display: flex;
			justify-content: space-between;
			width: 100%;

			.group-status {
				font-weight: bold;
			}

			.price-div {
				display: flex;
				align-items: center;

				.discount-chip {
					font-size: 14px;
					color: $grey-600;
					font-weight: 700;
					border-radius: 8px;
					padding: 4px;
					background-color: $yellow-500;
					margin-right: 6px;
					height: 29px;
				}

				.price {
					font-weight: 700;
					font-size: 22px;

					&--highlight {
						color: $yellow-500;
					}
				}
			}
		}

		.user-detail-wrapper {
			display: flex;
			justify-content: space-between;
			margin-top: 10px;
			text-align: center;
			color: $grey-100;
			font-size: medium;

			.user-detail {
				display: flex;
			}

			.items-minted {
				margin-left: 10px;
			}
		}
	}

	.button {
		.--not-eligible {
			background-color: $red-500;
			cursor: none;
		}
	}

	.mint-limit {
		text-align: center;
		color: $grey-100;
		font-size: medium;
	}

	.progress-bar {
		border-radius: 10px;
		margin: 10px 0;
		height: 10px;
		background-color: $grey-400;
	}
}
