@use '../variables/theme.module.scss' as *;
@use '../mixins/common.module.scss' as *;
@use '../mixins/breakpoints.module.scss' as *;

.comic-issue-unwrap-item {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	border-top: 1px inset;
	margin-top: 20px;
	stroke: $grey-300;
	align-items: flex-end;

	.title {
		text-align: left;
		font-weight: bold;
	}

	.button--unwrap {
		border: 1px solid $green-500;
		background-color: transparent;
		color: $green-500;
		cursor: pointer;
		width: 80px;
		height: 48px;
	}

	.trait-label-list {
		display: flex;
		flex-wrap: wrap;

		.trait-label {
			padding: 0.04rem 0.4rem;
			background-color: transparent;
			border-radius: 4px;
			border-width: 1px;
			border-style: solid;
			font-size: 12px;
			@include flexRow;
			align-items: center;

			svg {
				height: 12px;
				width: 12px;
			}

			&:not(:last-child) {
				margin-right: 0.4rem;
			}

			&--mint {
				border-color: $green-500;
			}

			&--signed {
				border-color: $orange-500;
			}

			&--common {
				border-color: $white;
			}

			&--uncommon {
				border-color: $yellow-100;
			}

			&--rare {
				border-color: $blue-500;
			}

			&--epic {
				border-color: $pink-500;
			}

			&--legendary {
				border-color: $purple-500;
			}

			svg {
				margin-right: 4px;
			}
		}
	}
}
