@use '../variables/theme.module.scss' as *;
@use '../mixins/common.module.scss' as *;
@use '../mixins/breakpoints.module.scss' as *;

.comic-item {
	position: relative;
	border: 0.2rem solid $grey-500;
	border-radius: 1.1rem;
	aspect-ratio: $comic-cover-aspect-ratio;
	width: 100%;
	cursor: pointer;
	pointer-events: all;
	transition: transform 0.2s ease;

	&:hover {
		.cover-image {
			filter: brightness(1);
		}
	}

	.comic-item-link {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.cover-image {
		aspect-ratio: $comic-cover-aspect-ratio;
		z-index: -1;
		object-fit: cover;
		border-radius: 1rem;
		border: 2px solid $grey-300;
		@include unclickable;
		opacity: 0.4;
		background-color: $grey-500;
		height: auto;
		filter: brightness(0.7);
	}

	.cover-logo {
		// aspect-ratio: $comic-logo-aspect-ratio;
		z-index: 0;
		max-width: 180px;
		max-height: 80%;
		object-fit: cover;
		width: auto;
		width: 80% !important;
		height: auto !important;
		position: absolute;
		top: 50% !important;
		left: 50% !important;
		transform: translate(-50%, -50%);
		@include unclickable;
	}
}
