@use '../variables/theme.module.scss' as *;
@use '../mixins/common.module.scss' as *;

.countdown {
    .timer {
        font-size: 15px;
        font-weight: bold;

        &:nth-child(2n) {
            margin-left: 5px;
        }
    }
}