@use '../mixins/common.module.scss' as *;
@use '../mixins/breakpoints.module.scss' as *;
@use '../variables/theme.module.scss' as *;

.text-dialog {
	margin: 0 !important;
	padding: 1rem !important;
	overflow: auto !important; // TODO: this overflow will ruin the "connect wallet" dialog select menu
	white-space: pre-wrap;
	height: 100% !important;
	max-height: 100% !important;
	width: 100% !important;

	@include sm {
		height: unset !important;
		max-height: calc(100% - 128px) !important;
	}

	.close-icon-wrapper {
		z-index: 999;
		margin-left: auto;
		position: absolute;
		right: 1rem;
		top: 1rem;
		line-height: 16px;

		.close-icon {
			@include clickable;
			width: 16px;
			height: 16px;
			color: white;
			fill: white;
		}
	}
}

.action-dialog {
	background-color: $grey-400 !important;

	.close-icon-wrapper {
		z-index: 999;
		margin-left: auto;
		position: absolute;
		right: 1rem;
		top: 1rem;
		line-height: 16px;

		.close-icon {
			@include clickable;
			width: 16px;
			height: 16px;
			color: white;
			fill: white;
		}
	}

	.stars-row {
		margin-top: 1rem;

		& > *:not(:last-child) {
			margin-right: 0.8rem;
		}

		& > * {
			color: $yellow-500;
		}
	}

	.dialog-content {
		@include centeredColumn;
		text-align: center;
		padding: 2rem 1rem !important;
	}

	.dialog-actions {
		@include flexRow;

		border-top: 2px solid $grey-600 !important;

		& > * {
			padding: 1rem !important;
			width: 100% !important;

			&:hover {
				background-color: $grey-300 !important;
			}
		}

		& > *:not(:last-child) {
			border-right: 2px solid $grey-600 !important;
		}
	}
}

.confirm-transaction-dialog {
	border-radius: 4rem !important;
	.confirming-animation {
		border-radius: 4rem !important;
		max-height: 300px;
		max-width: 300px;
		height: 100%;
		width: 100%;
	}
}

.minted-nft-dialog {
	position: relative;

	.cover-image {
		width: 400px;
		max-width: 100%;
		height: auto;
	}

	.trait-label {
		position: absolute;
		background: $grey-500;
		border-radius: 8px;
		padding: 4px 16px;
		@include centeredColumn;
		top: 1rem;
		left: 50%;
		transform: translateX(-50%);
		width: 90%;
		max-width: max-content;
		text-align: center;

		font-size: 16px;

		@include sm {
			font-size: 18px;
		}

		@include md {
			font-size: 20px;
		}

		.rarity {
			@include centeredRow;

			&--common {
				color: $white;
				svg {
					color: $white;
				}
			}

			&--uncommon {
				color: $yellow-100;
				svg {
					color: $yellow-100;
				}
			}

			&--rare {
				color: $blue-500;
				svg {
					color: $blue-500;
				}
			}

			&--epic {
				color: $pink-500;
				svg {
					color: $pink-500;
				}
			}

			&--legendary {
				color: $purple-500;
				svg {
					color: $purple-500;
				}
			}
		}

		svg {
			margin-right: 4px;
			height: 18px;
			width: 18px;
		}
	}

	.loader {
		height: 25px;
		width: 25px;

		&--root {
			top: 40%;
			left: 46%;
			position: relative;
			height: fit-content !important;
			width: fit-content !important;
		}
	}

	.close-icon-wrapper {
		z-index: 999;
		margin-left: auto;
		position: absolute;
		right: 1rem;
		top: 1rem;
		line-height: 16px;

		.close-icon {
			@include clickable;
			width: 16px;
			height: 16px;
			color: white;
			fill: white;
		}
	}
}

.forgot-password-dialog {
	margin: 0 !important;
	padding: 1rem !important;
	overflow: auto !important;
	white-space: pre-wrap;
	width: 100% !important;
	overflow: hidden !important;

	.forgot-password-input {
		width: 100%;
	}
}

.forgot-password-dialog,
.unwrap-dialog {
	padding: 2rem 0 0 0 !important;

	@include sm {
		padding: 0 !important;
	}
}

.connect-wallet-dialog {
	.wallet-adapter-dropdown {
		width: min-content;
	}
}
