@use '../mixins/common.module.scss' as *;
@use '../mixins/breakpoints.module.scss' as *;
@use '../variables/theme.module.scss' as *;

.text-dialog {
	margin: 0 !important;
	padding: 1rem !important;
	overflow: auto !important; // TODO: this overflow will ruin the "connect wallet" dialog select menu
	white-space: pre-wrap;
	height: 100% !important;
	max-height: 100% !important;
	width: 100% !important;

	@include sm {
		height: unset !important;
		max-height: calc(100% - 128px) !important;
	}

	.close-icon-wrapper {
		z-index: 999;
		margin-left: auto;
		position: absolute;
		right: 1rem;
		top: 1rem;
		line-height: 16px;

		.close-icon {
			@include clickable;
			width: 16px;
			height: 16px;
			color: white;
			fill: white;
		}
	}
}

.action-dialog {
	background-color: $grey-400 !important;

	.close-icon-wrapper {
		z-index: 999;
		margin-left: auto;
		position: absolute;
		right: 1rem;
		top: 1rem;
		line-height: 16px;

		.close-icon {
			@include clickable;
			width: 16px;
			height: 16px;
			color: white;
			fill: white;
		}
	}

	.stars-row {
		margin-top: 1rem;

		& > *:not(:last-child) {
			margin-right: 0.8rem;
		}

		& > * {
			color: $yellow-500;
		}
	}

	.dialog-content {
		@include centeredColumn;
		text-align: center;
		padding: 2rem 1rem !important;
	}

	.dialog-actions {
		@include flexRow;

		border-top: 2px solid $grey-600 !important;

		& > * {
			padding: 1rem !important;
			width: 100% !important;

			&:hover {
				background-color: $grey-300 !important;
			}
		}

		& > *:not(:last-child) {
			border-right: 2px solid $grey-600 !important;
		}
	}
}

.confirm-transaction-dialog {
	border-radius: 4rem !important;

	.confirming-animation {
		border-radius: 4rem !important;
		max-height: 300px;
		max-width: 300px;
		height: 100%;
		width: 100%;
	}
}

.unwrap-warning-dialog {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	.content-wrapper {
		background-color: $grey-400;
		padding: 20px;
		border-radius: 5px;
	}

	.dialog-title {
		font-weight: bold;
		text-align: center;
	}

	.dialog-content {
		text-align: center;
	}

	.unwrap-button {
		align-self: center;
		width: 100%;
		background-color: $important-color;
		margin: 20px 0 20px 0;
	}
}

.minted-nft-dialog {
	position: relative;
	overflow-y: scroll;

	.twitter-button {
		width: max-content;
		align-self: center;
		margin-top: 16px;
		box-sizing: border-box;
		padding: 4px 12px 4px 12px;
		border: 2px solid white;
		background-color: #000;
		color: #fff;
		border-radius: 0.5rem;
		font-weight: 500;
		cursor: pointer;
	}

	.unwrap-button {
		margin-top: 16px;
	}

	.cover-image {
		width: 400px;
		max-width: 100%;
		height: auto;
	}

	.trait-label {
		background: $grey-400;
		padding: 4px 10px;
		text-align: center;
		display: flex;
		justify-content: space-between;
		width: 100%;
		flex-direction: row;
		font-weight: 400;
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;

		@include xs {
			font-size: 15px;
		}

		@include sm {
			font-size: 18px;
		}

		@include md {
			font-size: 20px;
		}

		.issue-tag {
			font-weight: bold;
		}

		.rarity {
			&--common {
				color: $white;

				svg {
					color: $white;
				}
			}

			&--uncommon {
				color: $yellow-100;

				svg {
					color: $yellow-100;
				}
			}

			&--rare {
				color: $blue-500;

				svg {
					color: $blue-500;
				}
			}

			&--epic {
				color: $pink-500;

				svg {
					color: $pink-500;
				}
			}

			&--legendary {
				color: $purple-500;

				svg {
					color: $purple-500;
				}
			}
		}

		svg {
			margin-right: 4px;
			height: 18px;
			width: 18px;

			@include xs {
				margin-right: 2px;
				height: 14px;
				width: 14px;
			}
		}
	}

	.loader {
		height: 25px;
		width: 25px;

		&--root {
			top: 40%;
			left: 46%;
			position: relative;
			height: fit-content !important;
			width: fit-content !important;
		}
	}

	.close-icon-wrapper {
		z-index: 999;
		margin-left: auto;
		position: absolute;
		right: 1rem;
		top: 1rem;
		line-height: 16px;

		.close-icon {
			@include clickable;
			width: 16px;
			height: 16px;
			color: white;
			fill: white;
		}
	}
}

.forgot-password-dialog {
	margin: 0 !important;
	padding: 1rem !important;
	overflow: auto !important;
	white-space: pre-wrap;
	width: 100% !important;
	overflow: hidden !important;

	.forgot-password-input {
		width: 100%;
	}
}

.forgot-password-dialog,
.unwrap-dialog {
	padding: 2rem 0 0 0 !important;

	@include sm {
		padding: 0 !important;
	}
}

.connect-wallet-dialog {
	.wallet-adapter-dropdown {
		width: min-content;
	}
}
