@use '../variables/theme.module.scss' as *;
@use '../mixins/breakpoints.module.scss' as *;

.expandable {
	width: 100%;
	max-width: 912px;
	background: $grey-600;
	border-top: 1px solid $grey-300;
	border-bottom: 1px solid $grey-300;

	@include sm {
		border-left: 1px solid $grey-300;
		border-right: 1px solid $grey-300;
		margin-bottom: 20px;
		border-radius: 8px;
	}

	.expandable-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		padding: 30px;
		font-weight: 700;
		font-size: 16px;
		line-height: 22px;
		cursor: pointer;
	}

	.expandable-header-arrow-icon {
		transition: transform 150ms ease-in-out;

		&--rotated {
			transform: rotate(-180deg);
		}
	}

	.expandable-content-wrapper {
		--content-height: 0px;

		width: 100%;
		height: 0;
		transition: height 150ms ease-in-out;
		overflow: hidden;

		&--expanded {
			height: var(--content-height);
			overflow-x: auto;
		}
	}

	.expandable-content {
		border-top: 1px solid $grey-400;
		padding: 12px;

		@include sm {
			padding: 24px;
		}

		@include md {
			padding: 36px;
		}

		@include lg {
			padding: 48px;
		}
	}
}
