@use '../mixins/common.module.scss' as *;
@use '../mixins/breakpoints.module.scss' as *;
@use '../mixins/animations.module.scss' as *;
@use '../variables/theme.module.scss' as *;

.header-navigation,
.footer-navigation {
	background: $grey-600 !important;
	border: none !important;
	border-radius: 0 !important;
	transition:
		background-color 0.3s,
		opacity 0.5s !important;
	position: sticky !important; // on mobile maybe it should be fixed
	padding: 0 !important;

	&--blurred {
		backdrop-filter: blur(10px) !important;
		background: rgba($grey-500, 0.75) !important;
	}

	&--hidden {
		opacity: 0 !important;
	}

	&--fixed {
		position: fixed !important;
		background-color: transparent !important;
	}
}

.bottom-navigation {
	min-height: 60px;
	position: fixed !important;
	top: unset !important;
	width: 100%;
	bottom: 0 !important;
	z-index: 1000000;
	color: white;

	&--hidden {
		opacity: 0 !important;
	}

	&--blurred {
		backdrop-filter: blur(10px) !important;
		background: rgba($grey-500, 0.75) !important;
	}

	&--label {
		margin-top: 2px;
		color: white;
	}
}

.guest-navigation {
	width: 100%;
	margin: 0 auto;
	height: 72px;
	max-width: $xl-width;

	padding: 0 2rem !important;

	.items {
		display: flex;
		justify-content: space-between;
	}

	@media (max-width: 300px) {
		.navigation-hamburger-button {
			display: none;
		}
	}

	.logo {
		height: 32px;
		width: auto;
	}
}

.navigation {
	// @include defaultFadeIn;
	width: 100%;
	margin: 0 auto;
	height: 72px;
	max-width: $xl-width;

	padding: 0 2rem !important;

	@media (max-width: 300px) {
		.navigation-hamburger-button {
			display: none;
		}
	}

	.navigation-hamburger-button {
		width: 100%;
		height: auto;

		svg {
			fill: $text-color;
		}
	}

	.company-logo-wrapper {
		height: 28px;
	}

	.company-logo {
		height: 28px;
		width: auto;
		user-select: none;

		&:hover {
			filter: brightness(0.8);
		}
	}

	@include sm {
		.company-logo-wrapper {
			height: 32px;
		}

		.company-logo {
			height: 32px;
		}

		a,
		button {
			height: 32px;
		}
	}

	.navigation-items {
		margin-left: auto;
		display: flex;
	}

	.navigation-items {
		> a:not(:last-child),
		> button:not(:last-child) {
			margin-right: 1.4rem;
		}

		a {
			display: flex;
			align-items: center;
		}
	}

	.navigation-item {
		@include clickable;
		height: 28px;

		&:hover,
		&.active {
			color: $important-color;

			svg {
				color: $important-color;
			}
		}

		svg {
			height: 100%;
			padding: 1px;
			width: auto;
		}

		&:not(.navigation-hamburger-button) svg {
			margin-right: 0.5rem;
		}
	}

	.e-reader-navigation-items {
		@include flexRow;
		align-items: center;
		justify-content: space-between;
		max-width: $e-reader-width;
		margin: 0 auto;
		width: 100%;

		.e-reader-navigation {
			&--left {
				width: 264px;
				margin-right: auto;
				justify-content: flex-start !important;
			}

			&--right {
				width: 264px;
				margin-left: auto;
				justify-content: flex-end !important;
			}
		}

		&:not(.navigation-hamburger-button) svg {
			margin-right: 0.5rem;
		}

		.navigation-link {
			&:hover {
				color: $yellow-500 !important;

				* {
					color: $yellow-500 !important;
				}
			}
		}

		.e-reader-navigation-item {
			@include centeredRow;
			@include clickable;
			height: 28px;

			svg {
				padding: 1px;
				width: auto;
			}

			.arrow-right--reversed {
				height: 18px;
				color: $text-color;
				transform: rotate(180deg);
			}

			.grey-100 {
				color: $grey-100;
			}
		}

		.switch-root {
			border: 2px solid $grey-100 !important;
			border-radius: 2rem !important;
			height: 28px !important;
			width: 52px !important;
			padding: 0 !important;
			margin: 0 0.5rem;
		}

		.switch-base {
			padding: 3px;
		}

		.switch-icon {
			height: 24px;
			width: 24px;
			color: $grey-200;

			&--active {
				color: $text-color;
			}
		}
	}
}

.mobile-menu {
	background: rgba($grey-600, 0.95) !important;
	margin: 0.4rem;

	li:not(:last-child) {
		border-bottom: solid 1px rgba($grey-300, 0.1);
	}

	ul {
		padding: 0;
	}

	li {
		padding: 0;
	}

	li > a,
	li > button {
		padding: 0.5rem 1rem;
		width: 100%;
		justify-content: flex-start;

		&:hover {
			background-color: unset;
			filter: brightness(1.5);
			color: $important-color;

			svg {
				color: $important-color;
			}
		}

		svg {
			height: 24px;
			padding: 1px;
			margin-right: 0.5rem;
			width: auto;
		}
	}
}

.end-of-page-anchor {
	position: absolute;
	bottom: 0;
	width: 72px;
	height: 72px;
}

.container {
	position: relative;
}
