@use '../variables/theme.module.scss' as *;
@use '../mixins/common.module.scss' as *;
@use '../mixins/breakpoints.module.scss' as *;

.sign-up-banner {
	@include flexColumn;
	align-items: center;
	position: relative;
	justify-content: space-between;
	border-radius: 8px;
	padding: 5px 12px;
	margin-top: 48px;
	border: 1px solid $grey-200;
	background-color: $grey-500;

	@include md {
		flex-direction: row;
		padding: 10px 16px;
		margin-top: 64px;
	}

	.discount-section {
		@include flexRow;
		align-self: start;
		max-width: 60%;
		@include md {
			max-width: 56%;
			flex-direction: column;
			justify-content: space-between;
			align-items: start;
		}
	}

	.discount-text {
		font-size: 16px;
		font-weight: 700;
		line-height: 28.8px;

		.highlighed-text {
			color: $yellow-500;
		}

		@include md {
			font-size: 20px;
		}
	}
	.login {
		padding: 14px 0;
		font-size: 14px;
	}

	.wen-image {
		position: absolute;
		top: -34px;
		right: -16px;
		width: 140px;
		height: 124px;
		@include md {
			height: 161px;
			width: 150px;
			right: 72px;
			top: -36px;
		}
		@include lg {
			top: -45px;
			right: 70px;
			width: 161px;
			height: 170px;
		}
		@include xl {
			top: -54px;
			height: 179px;
			width: 170px;
			right: 68px;
		}
	}

	.sign-up-button {
		background-color: $white;
		display: flex;
		height: 40px;
		padding: 16px;
		gap: 10px;
		flex-shrink: 0;
		align-self: center;
		width: 100%;
		margin-top: 28px;

		@include md {
			width: max-content;
			margin-top: 0px;
		}
	}
}
