@use '../variables/theme.module.scss' as *;
@use '../mixins/common.module.scss' as *;
@use '../mixins/breakpoints.module.scss' as *;

.claim-page {
	width: 100%;
	margin: 20px auto 0 auto;
	display: block;

	.comic-issue-banner-image {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		z-index: -1;
		width: 100%;
		max-height: 720px;
		position: fixed;
		height: 90vh;

		.bottom-overlay {
			left: 0;
			right: 0;
			z-index: -1;
			background-position: 0 top;
			background-repeat: repeat-x;
			background-size: 100% 100%;
			bottom: 0;
			height: 100%;
			opacity: 1;
			top: auto;
			width: 100%;

			&--standard {
				background: linear-gradient(rgba(21, 23, 28, 0.85) 0%, rgb(21, 23, 28) 100%);
			}
		}
	}

	.details-wrapper {
		margin: 0 auto 40px auto;
		justify-content: space-around;
		@include pagePadding(20px, 30px, 40px, 50px);
	}

	.details {
		&--left {
			max-width: 480px;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;

			.comic-issue-cover {
				max-width: 100% !important;
				height: auto !important;
			}
		}

		&--right {
			max-width: 520px;

			.comic-title {
				width: 100%;
				color: lightgray;
			}

			.detail-toggle {
				display: flex;
				border-bottom: 2px solid grey;
				margin: 0;

				p {
					cursor: pointer;
					margin-bottom: 0;

					&:nth-child(2n) {
						margin-left: 30px;
					}
				}
			}

			.details-loader {
				height: 40px;
				width: 40px;

				&--root {
					position: relative;
					left: 40%;
					top: 20%;
					height: fit-content !important;
					width: fit-content !important;
				}
			}

			.mint-header {
				display: flex;
				justify-content: space-between;
				// align-items: center;
				flex-direction: column;
			}
		}
	}

	.loader {
		height: 25px;
		width: 25px;

		&--root {
			height: fit-content !important;
			width: fit-content !important;
		}
	}

	.mint-header p {
		@include xs {
			font-size: 15px;
		}
	}

	.mint-details {
		max-height: 370px;
		overflow-y: scroll;
		margin-top: 10px;

		.mint-group {
			display: flex;
			flex-direction: column;
			border-radius: 20px;
			padding: 10px 25px;
			background-color: rgba(9, 8, 8, 0.5);
			margin-bottom: 10px;

			.group-detail-wrapper {
				display: flex;
				justify-content: space-between;

				p {
					font-weight: bold;
				}

				.group-status {
					font-weight: bold;
				}
			}

			.mint-limit {
				text-align: center;
				color: $grey-100;
				font-size: medium;
			}

			.progress-bar {
				border-radius: 10px;
				margin: 10px 0;
				height: 10px;
			}
		}
	}

	.comic-issue-cover {
		border-radius: 10px;
		aspect-ratio: $comic-issue-cover-aspect-ratio;

		@include xs {
			width: 300px;
			height: 400px;
		}
	}

	.comic-issue-genre-list {
		@include flexRow;

		.genre-item {
			display: flex;
			justify-content: flex-start;

			&:not(:last-child) {
				margin-right: 0.5rem;
			}

			align-items: flex-start;
			max-width: fit-content;

			@include sm {
				&:not(:last-child) {
					margin-right: 0.2rem;
				}
			}

			@include xs {
				&:not(:last-child) {
					margin-right: 0;
				}
			}
		}

		.genre-name {
			font-size: 20px;

			@include sm {
				font-size: 15px;
			}

			@include xs {
				font-size: 10px;
			}
		}

		.genre-icon {
			width: 24px;
			height: 24px;
			margin-right: 0.3rem;
			border-radius: 0.25rem;

			@include xs {
				width: 15px;
				height: 15px;
			}
		}
	}

	.comic-issue-flavor-text {
		font-style: italic;
		border-left: 4px solid $important-color;
		padding-left: 0.5rem;
		margin-bottom: 0.5rem;
		color: lightgray;
	}

	.comic-issue-description {
		line-clamp: 1;
		margin-top: 10px;
	}

	.comic-issue-title {
		font-size: 40px;
		font-weight: bold;
		text-align: center;

		@include xs {
			font-size: 25px;
		}

		@include sm {
			font-size: 35px;
		}

		@include md {
			text-align: center;
		}
	}

	.comic-issue-creator-wrapper {
		display: flex;
		align-items: center;
		margin-top: 10px;

		.avatar {
			align-self: flex-end;
			height: fit-content;
			@include unclickable;
		}

		.verified-icon {
			height: 16px;
			width: 16px;
		}
	}

	.countdown {
		.timer {
			font-size: 15px;
			font-weight: bold;

			&:nth-child(2n) {
				margin-left: 5px;
			}
		}
	}

	.download-mobile-promo-banner {
		margin: 2rem 0;
		width: 100%;
		height: auto;
	}
}
