@use '../variables/theme.module.scss' as *;
@use '../mixins/common.module.scss' as *;
@use '../mixins/breakpoints.module.scss' as *;

.comic-issue-page {
	.comic-issue-header {
		margin-top: -100px;
		@include flexColumn;

		@include md {
			margin-top: 0;
			padding-top: 2rem;
			@include flexRow;
			justify-content: center;

			& > *:not(:last-child) {
				margin-right: 1rem;
			}
		}

		@include lg {
			padding-top: 4rem;
		}
	}

	&--left {
		margin-top: 1rem;
		@include flexColumn;

		.comic-issue-stats {
			margin: 3rem 0 1rem 0;

			& > *:not(:last-child) {
				margin-left: 1rem;
			}
			flex-direction: row-reverse;
			justify-content: flex-end;

			@include md {
				flex-direction: row;
				justify-content: flex-start;

				& > *:not(:last-child) {
					margin-right: 1rem;
				}
			}
		}
	}

	&--middle {
		padding: 0 2rem;

		img {
			aspect-ratio: $comic-issue-cover-aspect-ratio;
			width: 100%;
			max-height: 480px;
			border-radius: 0.5rem;
			height: auto;
		}
	}

	&--right {
		@include flexColumn;
		max-width: 680px;

		margin-top: 3rem;
		@include md {
			margin-top: 0;
		}

		.comic-title {
			width: 100%;
			color: $grey-100;
		}

		.comic-title {
			width: 100%;
			color: lightgray;
		}

		.comic-issue-genre-list {
			@include flexRow;
			// flex-wrap: wrap;
			margin: 3rem 0 1rem 0;
			overflow-y: auto;

			.genre-item {
				@include flexRow;
				align-items: center;
				white-space: nowrap;

				&:not(:last-child) {
					margin-right: 0.5rem;
				}
			}

			.genre-icon {
				width: 24px;
				height: 24px;
				margin-right: 0.5rem;
				border-radius: 0.25rem;
			}
		}

		.comic-issue-flavor-text {
			font-style: italic;
			border-left: 4px solid $important-color;
			padding-left: 0.5rem;
			margin-bottom: 0.5rem;
			color: lightgray;
		}

		// .comic-issue-description {
		// line-clamp: 1;
		// }

		.comic-issue-creator-wrapper {
			@include flexRow;
			align-items: center;
			margin-top: 2rem;

			.avatar {
				@include unclickable;
			}

			.text--author {
				color: lightgray;
				font-style: italic;
				margin-bottom: -0.2rem;
				font-size: 12px;
			}

			& svg {
				width: 14px;
				height: 14px;
				margin-left: 0.5rem;
			}
		}
	}

	.section-title {
		border-bottom: 1px solid $grey-100;
		padding: 2rem 0;

		margin-bottom: 2rem;
		margin-top: 2rem;

		@include md {
			margin-top: 4rem;
		}
	}
}

.comic-issue-banner-image {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	z-index: -1;
	width: 100%;
	height: 65vh;
	max-height: 620px;
	// filter: blur(10px);

	position: relative;

	@include md {
		position: absolute;
	}

	.bottom-overlay {
		left: 0;
		position: absolute;
		right: 0;
		z-index: -1;
		background-position: 0 top;
		background-repeat: repeat-x;
		background-size: 100% 100%;
		bottom: 0;
		height: 100%;
		opacity: 1;
		top: auto;
		width: 100%;

		&--standard {
			background: linear-gradient(rgba(21, 23, 28, 0.85) 0%, rgb(21, 23, 28) 100%);
		}

		&--simpler {
			background: linear-gradient(
				rgba(21, 23, 28, 0.2) 0%,
				rgba(21, 23, 28, 0.2) 16%,
				rgba(21, 23, 28, 0.75) 72%,
				rgb(21, 23, 28) 100%
			);
		}
	}
}

.button--preview {
	margin-right: 0.5rem !important;
	padding: 0.5rem 1rem !important;
	min-width: 92px !important;
}
