@use '../variables/theme.module.scss' as *;
@use '../mixins/common.module.scss' as *;
@use '../mixins/breakpoints.module.scss' as *;

.faq-page {
	@include pagePadding;
	max-width: $md-width;
	margin: 0 auto 6rem auto;

	.title,
	.subtitle,
	.faq-section-title {
		padding-left: 12px;
		padding-right: 12px;
	}

	.subtitle {
		margin-top: 0;
		font-style: italic;
	}
}

.faq-section {
	.faq-section-title {
		color: $grey-100;
		font-size: 0.9rem;
		font-weight: bold;
		text-transform: uppercase;
		margin: 2rem 0 1rem 0;

		@include sm {
			border-bottom: 1px solid $grey-100;
			padding-bottom: 0.4rem;
		}
	}

	.expandable:not(:last-child) {
		@include xs {
			border-bottom: unset;
		}
	}
}

.faq-link {
	text-decoration: underline;
}
