@use '../variables/theme.module.scss' as *;
@use '../mixins/breakpoints.module.scss' as *;
@use '../mixins/common.module.scss' as *;

.index {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	// background: url('~/public/assets/images/background.jpg');
	background-size: cover;
	// @include pagePadding(20px, 30px, 40px, 50px);

	.title {
		padding-top: 20px;
		max-width: 100%;
		font-weight: 700;
		color: $white;
		font-size: 44px;
		line-height: 44px;
		text-align: center;

		@include sm {
			font-size: 66px;
			line-height: 66px;
			text-align: left;
		}

		@include md {
			font-size: 88px;
			line-height: 88px;
			max-width: 402px;
		}
	}

	.logo {
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.description {
		width: 100%;
		max-width: 360px;
		font-weight: 500;
		font-size: 20px;
		line-height: 20px;
		color: $white;

		&--highlighted {
			color: $yellow-500;
		}
	}

	.actions {
		margin: auto;

		.action-button {
			min-width: 120px;
		}

		@include sm {
			margin: 2rem 0 auto 0;

			.action-button {
				min-width: 160px;
			}
		}
	}
}
