@use '../mixins/common.module.scss' as *;
@use '../mixins/breakpoints.module.scss' as *;
@use '../variables/theme.module.scss' as *;

.profile-page {
	margin: 0 auto;
	@include pagePadding(10px, 20px, 40px, 40px);

	.title-box {
		padding: 2rem 0;

		@include sm {
			padding: 2.5rem 0;
		}
	}

	.tabs {
		border-bottom: 1px solid $grey-300;
	}

	.tab-button {
		text-transform: capitalize !important;
		font-weight: bold;
		color: $grey-100 !important;

		font-size: 1rem;

		@include lg {
			font-size: 1.1rem;
		}

		&--active {
			color: white !important;
			border-color: red !important;
		}
	}

	.form-actions {
		padding-bottom: 2rem;

		@include sm {
			padding-bottom: 2.5rem;
		}
	}

	.profile-settings-section {
		color: $grey-100;
		border-bottom: 1px solid $grey-100;
		font-size: 0.9rem;
		font-weight: bold;
		text-transform: uppercase;
		padding-bottom: 0.4rem;
		margin-bottom: 1rem;
	}

	.input-row {
		.input-wrapper {
			margin-bottom: 0;
			margin-right: 0.5rem;
			width: 100%;
		}

		.button {
			min-width: 100px;

			@include sm {
				min-width: 120px;
			}
		}
	}

	.wallet-list {
		border: 1px solid $grey-300;
		border-radius: 1rem;

		li {
			padding: 1rem;

			@include md {
				padding: 1rem 2rem;
			}

			&:not(:last-child) {
				border-bottom: 1px solid $grey-300;
			}
		}

		.wallet-item {
			@include flexRow;
			justify-content: space-between;

			&--active {
				color: $yellow-500;
			}
		}

		.wallet-adapter-dropdown,
		.wallet-adapter-button,
		.wallet-adapter-dropdown-list {
			width: 100%;
		}

		.wallet-adapter-button {
			background: $grey-100 !important;
		}

		.close-icon {
			width: 16px;
			height: 16px;
		}
	}

	.avatar-upload {
		border-radius: 90%;
		width: 120px;
		height: 120px;
		margin-bottom: 0;

		.preview-image {
			border-radius: 90%;
		}
	}

	.update-avatar-button {
		width: min-content;
	}
}
