@use '../variables/theme.module.scss' as *;
@use '../mixins/breakpoints.module.scss' as *;
@use '../mixins/common.module.scss' as *;

.reset-password-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(rgb(18, 20, 28, 0), rgba(18, 20, 28, 0.7) 35%, rgba(18, 20, 28, 1)),
		url('~/public/assets/images/background.jpg');
	background-size: cover;
	@include pagePadding(20px, 30px, 40px, 50px);

	.title {
		font-weight: 700;
		color: $white;
		margin: 2rem auto 1rem auto;
		padding-top: 20px;
		width: 100%;
		min-width: min-content;
		max-width: 480px;
		font-size: 33px;
		line-height: 33px;
		text-align: center;
		text-shadow: 2px 2px 2px black;

		@include sm {
			font-size: 44px;
			line-height: 44px;
			max-width: 420px;
		}

		@include md {
			font-size: 55px;
			line-height: 55px;
		}
	}

	.actions {
		margin: 2rem auto;
		display: flex;

		.action-button:not(:last-child) {
			margin-right: 1rem;
		}
	}
}
