@use '../variables/theme.module.scss' as *;

@mixin defaultFadeIn {
	opacity: 0;
	animation-name: fadeIn;
	animation-duration: 2s;
	animation-delay: 0.5s;
	animation-fill-mode: forwards;
}

@keyframes slideIn {
	from {
		transform: translateY(100%);
	}

	to {
		transform: translateY(0%);
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes leftToRight {
	0% {
		clip-path: inset(0 100% 0 0);
	}
	100% {
		clip-path: inset(0 0 0 0);
	}
}

.theme-slideX-left {
	opacity: 0;
	transition: opacity 0.6s cubic-bezier(0.16, 1, 0.3, 1), transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
	transition-delay: 0s, 0s;
	transform: translateX(-15px);
}

@media (prefers-reduced-motion: no-preference) {
	.theme-slideX-left.theme-slideX-animate {
		opacity: 1;
		transform: translateX(0);
	}
}
