@mixin defaultFadeIn {
	opacity: 0;
	animation-name: fadeIn;
	animation-duration: 2s;
	animation-delay: 0.5s;
	animation-fill-mode: forwards;
}

@keyframes slideIn {
	from {
		transform: translateY(100%);
	}

	to {
		transform: translateY(0%);
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes leftToRight {
	0% {
		clip-path: inset(0 100% 0 0);
	}
	100% {
		clip-path: inset(0 0 0 0);
	}
}
