@use '../variables/theme.module.scss' as *;
@use '../mixins/breakpoints.module.scss' as *;
@use '../mixins/animations.module.scss' as *;
@use '../mixins/common.module.scss' as *;

.carousel {
	@include defaultFadeIn;
	position: relative;

	.control-arrow {
		@include md {
			padding: 0 1rem !important;
		}
	}

	.bottom-overlay {
		left: 0;
		position: absolute;
		right: 0;
		z-index: -1;
		background-color: transparent;
		background-image: linear-gradient(
			rgb(21, 23, 28) 0%,
			rgba(21, 23, 28, 0.3) 26%,
			rgba(21, 23, 28, 0.48) 42%,
			rgb(21, 23, 28) 94%
		);
		background-position: 0 top;
		background-repeat: repeat-x;
		background-size: 100% 100%;
		bottom: 0;
		height: 100%;
		opacity: 1;
		top: auto;
		width: 100%;
	}

	.slide {
		position: relative;

		@include portrait {
			height: 80vh;
		}

		@include landscape {
			height: 100vh;
			max-height: 700px;
		}

		.slide-image {
			object-fit: cover;
			z-index: -1;
		}

		.slide-text-area {
			width: 80%;
			text-align: left;
			position: absolute;
			padding: 2rem 1rem;
			bottom: 20%;
			left: 5%;

			@include sm {
				width: 60%;
			}

			@include md {
				padding: 2rem;
				width: 50%;
			}

			@include lg {
				width: 40%;
			}
		}

		.slide-title {
			font-weight: bold;
			text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
			font-size: 2rem;
			margin: 1rem 0 0.2rem 0;

			@include sm {
				font-size: 2.4rem;
			}
		}

		.slide-subtitle {
			text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
			line-height: 1.2;
			white-space: pre-line;
			font-size: 0.9rem;
			// font-style: italic;
			// line-clamp: 4;
			// max-lines: 4;

			@include sm {
				font-size: 1rem;
			}

			@include md {
				font-size: 1.1rem;
			}
		}

		.slide-button {
			background-color: $important-color !important;
			color: $primary-color !important;
			padding: 0.3rem 1rem !important;
			box-shadow: 3px 3px 3px black;
			@include clickable;
		}
	}
}
