@use '../variables/theme.module.scss' as *;
@use '../mixins/breakpoints.module.scss' as *;
@use '../mixins/animations.module.scss' as *;

.carousel {
	@include defaultFadeIn;

	.slide {
		position: relative;
		height: 56.25vw;

		.slide-image {
			object-fit: cover;
			z-index: -1;
		}

		.slide-text-area {
			width: 100%;
			text-align: left;
			position: absolute;
			padding: 2rem 1rem;
			bottom: 0;
			left: 0;

			@include md {
				padding: 2rem;
			}
		}

		.slide-subtitle {
			color: lightgray;
		}

		.slide-title {
			font-weight: bold;
		}
	}
}
