@use '../variables/theme.module.scss' as *;
@use '../mixins/common.module.scss' as *;
@use '../mixins/breakpoints.module.scss' as *;

.collection-status-item {
	width: 100%;

	&--vertical {
		@include centeredColumn;
		text-align: center;
		width: max-content;
	}

	&--horizontal {
		@include centeredRow;
		justify-content: space-between;

		.collection-status-label {
			margin-right: 1rem;
		}
	}

	.collection-status-label {
		color: $secondary-lightgray;
		text-transform: uppercase;
		font-weight: 16px;

		font-size: 1rem;
		@include md {
			font-size: 1.1rem;
		}
	}

	.collection-status-value {
		font-weight: bold;
		font-weight: 22px;
		min-width: 70px;
	}
}
