@use '../mixins/common.module.scss' as *;
@use '../mixins/breakpoints.module.scss' as *;
@use '../variables/theme.module.scss' as *;

.comic-issue-list {
	@include flexRow;
	// @include centeredRow;
}

.comic-issue-item {
	position: relative;
	@include flexColumn;
	background: $primary-color-light;
	border: 0.2rem solid $primary-color-light;
	border-radius: 1.1rem;
	height: 320px;
	cursor: pointer;
	pointer-events: all;
	transition: transform 0.3s ease;

	&:hover {
		transform: translateY(-4px);
		@include md {
			transform: translateY(-6px);
		}

		.blur {
			opacity: 0.4;
		}
	}

	.episodes-badge {
		color: black;
		padding: 0.1rem 0.6rem;
		text-align: center;
		border-radius: 2rem;
		position: absolute;
		top: 1rem;
		left: 1rem;
		background-color: white;
		font-size: 14px;
		font-weight: bold;
		user-select: none;
	}

	.text-area {
		width: 100%;
		padding: 0.5rem 1rem;

		.comic-title {
			color: $important-color;
		}

		.comic-title,
		.comic-issue-title {
			width: 100%;
			font-weight: bold;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}

		.creator-name {
			color: lightgray;
		}
	}

	.cover-image {
		z-index: 0;
		object-fit: cover;
		border-radius: 1rem;
		@include unclickable;
	}
}
