@use '../mixins/common.module.scss' as *;
@use '../mixins/breakpoints.module.scss' as *;
@use '../variables/theme.module.scss' as *;

.creator-list {
	@include flexRow;
	// @include centeredRow;
}

.creator-item {
	position: relative;
	@include flexRow;
	background: $primary-color-light;
	border: 0.2rem solid $primary-color-light;
	border-radius: 1.1rem;
	padding: 1rem;
	cursor: pointer;
	pointer-events: all;
	transition: transform 0.3s ease;

	&:hover {
		transform: translateY(-4px);
		@include md {
			transform: translateY(-6px);
		}

		.blur {
			opacity: 0.4;
		}
	}

	.text-area {
		@include flexColumn;
		padding: 0.5rem 0.5rem 0.5rem 1rem;

		.creator-name {
			width: 100%;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			font-weight: bold;
			display: flex;
			align-items: center;

			& > svg {
				width: 14px;
				height: 14px;
				margin-left: 0.5rem;
			}
		}

		.performance {
			color: greenyellow;
		}
	}

	.creator-image {
		z-index: 0;
		object-fit: cover;
		border-radius: 45%;
		@include unclickable;
		background-color: $primary-color-dark;
	}
}
