@use '../mixins/common.module.scss' as *;
@use '../mixins/breakpoints.module.scss' as *;
@use '../variables/theme.module.scss' as *;

.creator-list {
	@include flexRow;
	// @include centeredRow;
}

.creator-item {
	@include flexRow;
	background: $primary-color-light;
	border: 0.2rem solid $primary-color-light;
	border-radius: 1.1rem;
	padding: 1rem;
	cursor: pointer;
	pointer-events: all;
	transition: transform 0.3s ease;

	&:hover {
		transform: translateY(-8px);

		.blur {
			opacity: 0.4;
		}
	}

	.blur {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -2;
		background: linear-gradient(180deg, rgba(120, 117, 255, 0.1) 0%, rgba($important-color, 0.8) 88.02%);
		transition: all 0.3s ease;
		filter: blur(24px);
		opacity: 0;
	}

	.text-area {
		@include flexColumn;
		padding: 0.5rem 0.5rem 0.5rem 1rem;

		.creator-name {
			width: 100%;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			font-weight: bold;
		}

		.performance {
			color: greenyellow;
		}
	}

	.creator-image {
		z-index: 0;
		object-fit: cover;
		border-radius: 45%;
		@include unclickable;
		background-color: $primary-color-dark;
	}
}
