@use '../mixins/common.module.scss' as *;

.footer {
	@include flexRow;
	justify-content: flex-end;
	margin-top: auto;

	.footer-copyright {
		@include centeredRow;
		padding: 1rem 2rem 0.4rem 1rem;
		filter: grayscale(1) brightness(0.4);
	}

	.company-logo {
		height: 16px;
		width: auto;
		margin-right: 0.5rem;
	}
}
