@use '../variables/theme.module.scss' as *;
@use '../mixins/common.module.scss' as *;

.info-list {
	border-radius: 0.5rem;
	border: 1px solid $lightgray;
	height: min-content;
	width: max-content;
	padding: 0 !important;

	& > * {
		border-radius: 0 !important;
		padding: 1rem 1.2rem !important;
	}

	&--vertical {
		@include flexColumn;

		& > *:not(:last-child) {
			border-bottom: 1px solid $lightgray;
		}

		&:first-child {
			border-top-left-radius: 0.5rem !important;
			border-top-right-radius: 0.5rem !important;
		}

		&:last-child {
			border-bottom-left-radius: 0.5rem !important;
			border-bottom-right-radius: 0.5rem !important;
		}
	}

	&--horizontal {
		@include flexRow;

		& > *:not(:last-child) {
			border-right: 1px solid $lightgray;
		}

		&:first-child {
			border-top-left-radius: 0.5rem !important;
			border-bottom-left-radius: 0.5rem !important;
		}

		&:last-child {
			border-top-right-radius: 0.5rem !important;
			border-bottom-right-radius: 0.5rem !important;
		}
	}
}
