@use '../mixins/animations.module.scss' as *;
@use '../mixins/breakpoints.module.scss' as *;

.main {
	@include defaultFadeIn;
	min-height: 100vh;

	@media (min-width: 380px) {
		padding: 1rem;
	}

	@include sm {
		padding: 2rem 1rem;
	}

	@include md {
		padding: 4rem 2rem;
	}
}
