@use '../variables/theme.module.scss' as *;

.overlay {
	overflow: hidden;
	position: absolute;
	height: 100%;
	width: 100%;
	background: linear-gradient(
		to top,
		rgba($primary-color-light, 0.96) 0%,
		rgba($primary-color-light, 0.75) 30%,
		rgba($primary-color-light, 0.2) 60%,
		rgba($primary-color-light, 0.05) 100%
	);
	mix-blend-mode: normal;
}
