@use '../variables/theme.module.scss' as *;
@use '../mixins/common.module.scss' as *;

.playground {
	@include flexColumn;

	.playground-input {
		@include flexRow;
	}

	button {
		background-color: $important-color !important;
		margin: 0.5rem;
	}

	.playground-buttons {
		@include flexRow;
		height: min-content;
		flex-wrap: wrap;
		padding: 2rem 0;
	}
}
