@use '../variables/theme.module.scss' as *;
@use '../mixins/common.module.scss' as *;

.playground {
	@include flexColumn;

	.playground-input {
		@include flexRow;
	}

	button {
		background-color: $important-color !important;

		&:not(:last-child) {
			margin-right: 2rem;
		}
	}

	.playground-buttons {
		@include flexRow;
		height: min-content;
		padding: 2rem 0;
	}
}
