@use '../mixins/breakpoints.module.scss' as *;
@use '../mixins/common.module.scss' as *;
@use '../variables/theme.module.scss' as *;

.section {
	position: relative;
	padding: 2rem 1rem;

	@include sm {
		padding: 2rem 1.5rem;
	}

	@include md {
		padding: 2rem;
	}

	.section-title-row {
		@include flexRow;
		justify-content: space-between;
		padding-bottom: 1rem;

		.section-title {
			text-transform: capitalize;
		}

		.section-title-button {
			color: $important-color;
		}
	}
}
