@use '../variables/theme.module.scss' as *;

.wallet-button,
.navigation .wallet-button {
	border-radius: 6px;
	text-transform: uppercase;
	padding: 0.2rem 1rem;
	width: 180px;
	color: $secondary-color !important;
	background-color: $primary-color-light !important;
	white-space: nowrap;

	span > img {
		width: 20px;
		height: 20px;
	}
}

.MuiList-root .MuiMenuItem-root .wallet-button {
	background: none;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 2px solid black;
	box-shadow: none;
	margin: none;
	min-width: unset;
}

.wallet-dialog .MuiDialogContent-root,
#wallet-menu .MuiCollapse-root {
	background-color: $primary-color-light !important;
}
