@use 'variables/theme.module.scss' as *;
@use 'mixins/common.module.scss' as *;
@use 'mixins/breakpoints.module.scss' as *;

html {
	scrollbar-color: $primary-color-dark transparent;
	scrollbar-width: thin;
}

body {
	background-color: $primary-color;
}

svg {
	height: 24px;
	width: auto;
	color: $secondary-color;
	// fill: $secondary-color;
}

.text--important {
	color: $important-color;
}

::selection {
	background-color: $important-color;
	color: $primary-color;
}

.slick-slide {
	div {
		line-height: 0;

		& * {
			line-height: initial;
		}
	}
}

.slick-slider {
	.slick-list {
		padding: 0.5rem 0;
	}

	.slick-prev {
		left: 4px;
		border-top-left-radius: 1rem;
		border-bottom-left-radius: 1rem;
	}

	.slick-next {
		right: 4px;
		border-top-right-radius: 1rem;
		border-bottom-right-radius: 1rem;
	}

	.slick-prev,
	.slick-next {
		z-index: 1;
		height: calc(100% - 1rem);
		padding: 0 0.5rem;
		width: 40px;
		opacity: 0;
	}

	&:hover {
		.slick-prev,
		.slick-next {
			opacity: 1;
			background-color: rgba($primary-color-light, 0.5);
		}
	}
}

/* Scroll bar stylings */
::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}

::-webkit-scrollbar-thumb {
	background: $primary-color-dark;
	border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
	background: $primary-color;
}

.blur {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -2;
	background: linear-gradient(180deg, rgba(120, 117, 255, 0.1) 0%, rgba(120, 117, 255, 0.6) 88.02%);
	transition: all 0.3s ease;
	filter: blur(24px);
	opacity: 0;
}

.row {
	@include flexRow;
}

.row--centered {
	@include centeredRow;
}

.column {
	@include flexColumn;
}

.column--centered {
	@include centeredColumn;
}
